#.gitignore - Monday 10-27-27 Version
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/
client/node_modules/
/worker/node_modules

# next.js
/.next/
/out/
client/.next/
.next/
.next
client/.next
.next*
/client/.next*
.next*

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# virtualenvs (anywhere)
.venv/
.venv-*/
venv/
venv-*/
**.venv/
**/.venv*
worker/.venv
fastapi/.venv*/
backend/.venv*/
worker/.venv*/

worker/.venv/
fastapi/api/.env
backend/api/.env

# env files
**/.env
**/.env.*
.env
.env*
env/
*.env
env/*.json

# python bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# OS junk
.DS_Store
Thumbs.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# py cache folder
fastapi/__pycache__/
fastapi/api/__pycache__/
backend/__pycache__/
backend/api/__pycache__/
# data folders
fastapi/api/videoDataset
fastapi/api/clips
fastapi/api/combined
worker/__pycache__/
backend/api/videoDataset
backend/api/clips
backend/api/combined

# json service accounts & secrets 
# from #Google Cloud Services/GCS IAM & Admin Service Accounts
fastapi/api-sa.json
backend/backend-sa.json
worker/worker-sa.json
api-sa.json
worker-sa.json
backend-sa.json
hooptuberdev.json
.keys/
*leads*.json
*.key.json
*.sa.json
*.pem
*.p12

# video folders
worker/videoDataset/
worker/combined
worker/clips/
*.mp4
*.pyc
